html {
  scroll-behavior: smooth;
}

.img-box {
  width: 50%;
  height: auto;
}

* {
  text-decoration: none;
}

a {
  color: #ff7d4a;
}

a:hover {
  color: orangered;
}

/*-- -- Start Of The Code -- --*/
/*-- -- Start Of The Code -- --*/

/* Modelo de Caja: Es la forma en que CSS ve a los elementos HTML y ¿cómo los ve? como si fueran cajas con las siguientes propiedades:
    1. El contenido (content): El contenido (texto) del elemento HTML, tomando en cuanta sus dimensiones (width & height)
    2. El borde (border): Lo que delimita cada uno de los elementos HTML
    3. El relleno (padding): Son las distancias internas (La distancia del borde al contenido)
    3. El márgen (margin): Son las distancias externas (La distancia entre el elemento html y sus elementos hermanos o padres)
  
  Dentro del modelo de caja hay que considerar que una caja tendrá 4 lados:
    1. Arriba (top)
    2. Derecha (right)
    3. Abajo (bottom)
    4. Izquierda (left)
  */

/*-- -- Width, Height & Boder -- --*/
/*-- -- Width, Height & Boder -- --*/

h1 {
  width: 400px;
  height: 100px;
  /* propiedades de tipo shorthand */
  border-color: mediumaquamarine;
  border-width: thin; /*thin= 1px, medium= 3px, thick= 5px*/
  border-style: solid;
  /* Shorthand */
  border: 2px dashed blue;
}

/*-- -- Margin & Border -- --*/
/*-- -- Margin & Border -- --*/

/* body {
    margin: 0px;
  } */

.caja-uno,
.caja-dos {
  background-color: chocolate;
  border: medium solid orange;
  /* 
    Esto aplica para margin y padding
    1 valor = aplicar a los 4 lados
    2 valores =
      primer valor es para los lados verticales (t/b)
      segundo valor es para los lados horizontales (l/r)
    3 valores =
      primer valor es para top
      segundo valor es para los lados horizontales (l/r)
      tercer valor es para bottom
    4 valores = Piensa en las manecillas del reloj
      primer valor es para top (12)
      segundo valor es para right (3)
      tercer valor es para bottom (6)
      cuarto valor es para left (9)
      */
  padding: 20px;
  margin: 20px;
  padding: 20px 40px;
  margin: 40px 20px;
  padding: 0 40px 20px;
  margin: 50px 30px 0;
  padding: 0 40px 20px 50px;
  margin: 100px 50px 30px 0;
}

/*-- -- Caja de Linea Vs Caja de Bloque -- --*/
/*-- -- Caja de Linea Vs Caja de Bloque -- --*/

/* 
Caja de Línea
  - Ocupan el espacio necesario para mostrar su contenido.
  - No tienen dimensiones modificables (alto, ancho).
  - Permiten otros elementos a su lado.
  - Padding y margin solo empujan a elementos adyacentes en horizontal, NUNCA EN VERTICAL.
Caja de Bloque
  - Ocupan todo el ancho disponible, lo que genera saltos de línea.
  - Tienen dimensiones modificables (alto, ancho).
  - No permiten otros elementos a su lado (aunque especifique un ancho, siguen ocupando todo el espacio disponible a lo ancho, generando saltos de línea).
*/

.caja-linea,
.caja-bloque {
  background-color: darkcyan;
  color: white;
  width: 500px;
  height: 250px;
  border: medium solid black;
  padding: 16px;
}

.caja-bloque {
  margin: 32px;
  display: block;
}

.caja-linea {
  margin: 48px;
  display: inline;
}

/*-- -- Display -- --*/
/*-- -- Display -- --*/

/* 
Propiedad Display
  inline
  block
  inline-block - Se comporta como un elemento de línea pero acepta modificar sus dimensiones (alto y ancho)
  none
  table
  list-item
  flex - ve mi curso de Flexbox CSS
  grid - ve mi curso de Grid CSS
*/

.caja-bloque {
  margin: 32px;
  display: block;
}

.caja-linea {
  margin: 48px;
  display: inline;
}

.caja-none,
.caja-linea-bloque {
  background-color: darkolivegreen;
  color: white;
  width: 600px;
  height: 300px;
  border: medium solid black;
}

.caja-linea-bloque {
  display: inline-block;
}

.caja-none {
  display: none;
}

/*-- -- Visibility -- --*/
/*-- -- Visibility -- --*/

.caja-hidden {
  background-color: lightcoral;
  color: white;
  width: 600px;
  height: 300px;
  border: medium solid black;
}

.caja-hidden {
  visibility: visible;
  visibility: hidden;
}

/*-- -- Overflow -- --*/
/*-- -- Overflow -- --*/

p[class*="overflow"] {
  background-color: darkturquoise;
  width: 200px;
  height: 100px;
  display: inline-block;
}
.overflow {
  overflow: visible; /*hace visible el desbordamiento*/
  overflow: hidden; /*oculta el desbordamiento*/
  overflow: scroll; /*añade al desbordamiento un scroll en x y*/
  overflow: auto; /*añade al desbordamiento un scroll auto/
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
}
.overflow-2 {
  overflow: visible;
}

/*-- Text-overflow --*/
.overflow-t {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip; /*El contenido del texto está recortado y no es accesible.*/
}
.overflow-t2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /*El contenido desbordante se reemplaza por puntos suspensivos*/
}

/*-- Overflow-Wrap --*/
.overflow-w {
  overflow: hidden;
  overflow-wrap: break-word; /*Las palabras sin espacio se romperán tan pronto como lleguen al final de una línea.
  */
}
.overflow-w2 {
  overflow-wrap: normal; /*Las palabras sin espacio no se romperán. Las secuencias de caracteres ininterrumpidos se mostrarán en una sola línea.
  */
}
/*-- -- Box-Sizing -- --*/
/*-- -- Box-Sizing -- --*/

.box-sizing-content,
.box-sizing-border {
  background-color: lightskyblue;
  box-sizing: content-box;
  width: 500px;
  height: 250px;
  padding: 10px;
  border: thick solid black;
  /* w 500 + 10 + 10 + 5 + 5 = 530 */
  /* h 250 + 10 + 10 + 5 +5  = 280 */
}

.box-sizing-border {
  box-sizing: border-box;
}

.container-col-3 {
  background-color: burlywood;
  width: 600px;
  height: 300px;
  margin-top: 20px;
}

.container-col-3 > * {
  box-sizing: border-box;
  width: 200px;
  border: thin solid red;
  padding: 10px;
  float: left;
}

/* 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
apply a natural box layout model to all elements, but allowing components to change

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
*/

/*-- -- Float & Clear -- --*/
/*-- -- Float & Clear -- --*/
.container-floats {
  background-color: #ff7d4a;
  padding: 20px; /*No aplica a los elementos flotantes*/
}

.float-left {
  background-color: #9370d8;
  padding: 10px;
  float: left;
}

.float-right {
  background-color: #ffe4c4;
  padding: 10px;
  float: right;
}

.clearfix {
  background-color: #7fffd4;
  padding: 10px;
  clear: both; /*Arreglo del elementos float */
}

/*-- -- Colapso de Margenes Verticales -- --*/
/*-- -- Colapso de Margenes Verticales -- --*/
.margin-collapse {
  background-color: #7fffd4;
}

.margin-collapse section {
  border: medium solid black;
  background-color: #9370d8;
  padding: 10px;
  margin-top: 16px;
  margin-bottom: 16px; /*NO se suman*/
}

.margin-collapse span {
  border: medium solid black;
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px; /*SI se suman*/
}

/*-- -- Centrado de Cajas -- --*/
/*-- -- Centrado de Cajas -- --*/

.sitio-web {
  border: medium solid black;
  background-color: #7fffd4;
  width: 200px;
  height: 300px;
  text-align: center; /*Centra el contenido mas no la caja*/
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* margin: 0 auto; Shorthand */
}
